:root {
	--white: #fff;
	--black: #000;
	--dark: #272733;
	--primaryColor: #3e9cdc;
	--secondaryColor: #286690;

	--textSizeXl: 2rem;
	--textSizeLg: 1.8rem;
	--textSizeMd: 1.6rem;
	--textSizeSm: 1.3rem;
}
